*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
/* navlinks */

nav{
    display: flex;
    padding: 2& 6%;
    justify-content: space-between;
    align-items: center;
    background: #F8F8F8;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
.nav-links {
    display: flex;
}

/* Style for dropdown menu */
.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    z-index: 2; /* Add z-index to ensure the dropdown appears in front */
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* header */
.header {
    position: relative;
    background-image: url(images/banner.png); /* Replace 'images/banner2.png' with the actual path to your image */
    background-size: cover;
    background-position: center;
    height: 30vh;
}

.text-box {
    width: 90%;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    margin-bottom: 10px;
}

.text-box p {
    margin: 0;
    font-size: 14px;
    color: #000;
}


h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
/*--------footer----*/
    .footer {
        text-align: center;
        margin-top: 20px;
        background-color: #f9f9f9;
        height: 100px;
        margin-top: 55px;
            
    }
    
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .icons i {
        margin: 0 10px; /* Tilføjet margin omkring hver ikon */
    }




/* om mig side */
header {
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}






